body {
  font-family: sans-serif;
  text-align: center;
  background: #f5f5f5;
  margin: 0;
}

header {
  background: #222;
  color: white;
  padding: 10px;
}

#board button {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 80%;
  font-size: 16px;
}

.ad {
  background: #ddd;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}

#result {
  font-size: 18px;
  margin: 15px;
}
